nav {
  display: flex;
  min-height: 15vh;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
}

ul {
  display: flex;
  width: 30%;
  justify-content: space-around;
  list-style-type: none;
}

